.bg-light {
  background-color: #f8f9fa;
}

.content-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 2%;
}

.content-wrapper img {
  width: 100%;
  height: auto;
  max-height: 800px;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px; /* Increase the font size as desired */
  font-weight: bold; /* Make the text bold */
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  text-align: center;

  padding: 10px 20px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

.py-5 {
  padding-top: 80px;
  padding-bottom: 3rem;
  margin-left: 300px;
}

.btn.btn-light {
  background-color: #b33d3d;
  color: #fff;
}

.btn.btn-light:hover {
  background-color: #a44040;
}

.row.h-100 {
  height: 100%;
}

.align-items-center {
  align-items: center;
}

.col-lg-6 {
  width: 50%;
  margin-left: -300px;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #eb5b6a;
}

.text-danger {
  color: #dc3545;
}

.fw-bold {
  font-weight: bold;
}

.col-lg-0 {
  margin-left: 500px;
}

.lead {
  font-size: 1.25rem;
  font-weight: bold;
  color: #6c757d;
}

.text-muted {
  color: #6c757d;
}

.mb-0 {
  margin-bottom: 0;
}

.font-weight-light {
  font-weight: lighter;
}

.font-italic {
  font-style: italic;
}

.mb-4 {
  margin-bottom: 1.5rem;
  width: 500px;
  margin-top: 0px;
}

.mb-8 {
  background-color: #71eada;
  height: 300px;
  width: 500px;
  text-align: center;
  margin-bottom: 300px;
  margin-top: -200px;
}

.mb-12 {
  background-color: #71eada;
  height: 300px;
  width: 500px;
  text-align: center;
  margin-left: 500px;
  margin-top: -600px;
  margin-bottom: 80px;
}

.mb-lg-0 {
  margin-bottom: 0;
}

.order-1 {
  order: 1;
}

.order-lg-2 {
  order: 2;
}

.col-lg-5 {
  width: 41.6667%;
}

.px-5 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  margin-bottom: -50px;
}

.rounded-pill {
  border-radius: 50px;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-park {
  height: 400px;
  margin-left: 300px;
  border-radius: 10%;
}

.img-part {
  height: 400px;
  margin-left: 00px;
  border-radius: 10%;
}

.mb-4 {
  margin-bottom: 1.5rem;
  width: 500px;
  margin-top: 0px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.testimonial-section {
  background-color: #5286e6; /* Set your desired background color here */
}

@media screen and (max-width: 768px) {
  .col-lg-6 {
    width: 100%;
    margin-left: 0;
  }
  .img-park {
    margin-left: 0;
  }
  .img-part {
    margin-left: 0;
  }
}

.welcome {
  padding-top: 40px;
}

.welcome-images .card {
  border-radius: 0;
  border: 0;
  margin: 0 4px 4px 0;
}

@media (max-width: 991px) {
  .welcome-images .card img {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .welcome-content {
    padding-left: 60px;
  }
}
