.contact-wrap {
  background: #bf9898;
  border-radius: 10px;
  width: 1300px;
  margin-left: -300px;
  height: 600px;
}

.contact-wrap h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: 600;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea.form-control {
  resize: vertical;
}

button[type="submit"] {
  padding: 10px 30px;
}

/* Map Styles */
#map {
  height: 400px;
  width: 100%;
}

.mapp {
  size: 500px;
  margin-left: 400px;
  margin-top: 100px;
  height: 100px;
}

/* Contact Info Styles */
.dbox {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

.icon {
  font-size: 30px;
  color: #ff6a00;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  color: #555;
}

.text span {
  color: #333;
  font-weight: 600;
}

.text a {
  color: #ff6a00;
}

@media (max-width: 767.98px) {
  .mb-4 {
    margin-bottom: 2rem;
  }
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px; /* Increase the font size as desired */
  font-weight: bold; /* Make the text bold */
  color: rgb(169, 8, 8);
  text-align: center;
}

.content-wrapper {
  width: 100%;
  position: relative;
  margin-bottom: 2%;
}

.content-wrapper img {
  width: 100%;
  height: auto;
  max-height: 800px;
}

.content-wrpp:is(:hover, :focus) img {
  transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 1199.98px) {
  .contact-wrap {
    width: 100%;
    margin-left: 0;
  }

  .mapp {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .content-wrpp:is(:hover, :focus) img {
    transform: scale(1);
  }
}
