header {
  background-color: #55c7e4;
  padding: 15px;
}

.part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 100px;
  size: 900px;
}

.plane-icon {
  color: #055ffa;
  font-size: 24px;
}

.title {
  margin-left: 10px;
  
}

.logo img {
  height: 80px;
  margin-right: 10px;
  margin-left: 100px;
}

.title {
  font-size: 24px;
  color: #333;
  
}

.me-auto {
  color: black;
}

.nav-link {
  text-decoration: none;
  margin-right: 110px;
  font-weight: 500;
  color: #00ea33;
}

.nav-link:hover {
  color: #c2a3a3;
  text-decoration: underline;
  
}

.nav-link.active {
  color: black;
  font-weight: 800;

}

.containerbarr ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
}

.containerbarr li {
  margin-right: 120px;
  margin-left: 4px;
}

.containerbarr a {
  color: #7e0808;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
  
}

.containerbarr a:hover {
  color: #666;
}


.active {
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
  .logo {
    margin-left: 80px;
  }

  .nav-link {
    margin-right: 50px;
  }

  .containerbarr li {
    margin-right: 50px;
  }
}

@media (max-width: 576px) {
  .logo {
    margin-left: 20px;
  }

  .nav-link {
    margin-right: 20px;
  }

  .containerbarr li {
    margin-right: 20px;
  }
}
