/* Home.css */

.homeContent {
  text-align: center;
  padding: 50px 20px;
  background-color: #680000;
  color: white;
}

.homeContent h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.homeContent p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cardDiv {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.cardDiv .card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.4s, box-shadow 0.4s;
}

.cardDiv .card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.custom-large-text {
  font-size: 50px;
  font-weight: bold;
  color: #39040d;
}

@media (max-width: 768px) {
  .custom-large-text {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .custom-large-text {
    font-size: 28px;
  }
}