.main-content {
  max-width: 1200px;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 80vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-left: 700px;
}

.main-content>* {
  transition: all 0.3s ease-in-out;

}

.hoi {
  margin-left: 600px;
}